include MANIFEST.in
include LICENSE.txt
include README.rst
include setup.py
include requirements.txt

graft examples
graft opusxml

recursive-exclude * *.py[co]
global-exclude .git*
global-exclude *.png
include versioneer.py
include opusxml/_version.py
